body {
    height: 100svh;
    width: 100svw;
    margin: 0;
    cursor: grab;
}

.row {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.mix {
    position: absolute;
    margin-left: 15px;
}

#piano {
    margin: auto;
    cursor: pointer;
    display: flex;
    padding-top: 20px;
}

.TB {
    height: 400px;
    width: 50px;
    background-color: white;
    border: black solid 1px;
    box-shadow: 0px 10px 0px -1px rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
}

.TB .info,
.TN .info {
    align-self: flex-end;
    width: 100%;
}

.TN {
    height: 200px;
    width: 30px;
    margin-left: 21.5px;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 0.6rem;
    box-shadow: -10px 0px 0px -1px rgb(230, 230, 230);
}

.TN-NULL {
    height: 200px;
    width: 25px;
    margin-left: 26.5px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    color: white;
}

.TB.press {
    box-shadow: 0px 0px 0px -1px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.TN.press {
    box-shadow: -10px 0px 0px -1px rgb(230, 230, 230);
    margin-top: 10px;
    margin-bottom: 0px;
}

.lettre {
    background-color: rgba(128, 128, 128, 0.5);
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 5px;
    display: none;
}

.lettreAffiche {
    display: flex;
}

.lettre p {
    margin: auto;
    font-size: 0.6rem;
}

.note {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 1em;
    padding: 0.5rem 0;
    background-color: #303030;
}


.boutons {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 300px;
}

.btnFleche,
.btnAjout,
.btnSoustraction {
    background-color: rgba(20, 20, 20);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
}

.btnNull {
    visibility: hidden;
}

.btnFleche p,
.btnAjout p,
.btnSoustraction p {
    margin: auto;
    font-weight: bold;
    font-size: 2rem;
    line-height: 50px;
}



.explication {
    text-align: center;
    margin: 10px 0;
}

.explication>div {
    line-height: 30px;
}

span {
    background-color: rgba(20, 20, 20);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.numSection {
    border-left: dashed black;
    border-right: dashed black;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.numSection p {
    width: 100%;
    text-align: center;
    margin: 0;
}

#enregistrement {
    line-height: 40px;
    padding: 0 60px;
    text-align: center;
    margin-top: 10px;
}

#parametre {
    height: 150px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    border: 1px solid black;
    margin-bottom: 15px;
}